.empty-slot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: none !important;
}

.empty-slot--visible {
    background-color: #ddffbe !important;
}

.empty-slot--hidden {
    background-color: #EADBC8 !important;
}