.board {
    width: fit-content;
    display: grid;
    padding: 40px;
    margin: 20px;
    grid-template-columns: repeat(50, minmax(300px, 1fr));
    grid-template-rows: repeat(20, minmax(300px, 1fr));
    gap: 40px;
    transition: transform 0.3s ease-in-out;
    transform-origin: top left;
    position: relative;
    border: 1px solid #d0d0d0;
    border-radius: 2px;
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #EADBC8;
}

.board div {
    background-color: #f0f0f0;
    border: 1px solid #333;
}
.board div.no-border {
    border: none !important;
}

.board div.slot-taken {
    background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.board div.slot-free {
    background-color: #ddffbe;
}

.span-1x2 {
    grid-column: span 2;
}

.span-2x1 {
    grid-column: span 1;
    grid-row: span 2;
}

.span-2x2 {
    grid-column: span 2;
    grid-row: span 2;
}

.span-4x4 {
    grid-column: span 4;
    grid-row: span 4;
}

/*.board div:nth-child(10n+1),*/
/*.board div:nth-child(10n+2),*/
/*.board div:nth-child(10n+3),*/
/*.board div:nth-child(10n+4),*/
/*.board div:nth-child(10n+5) {*/
/*    background-color: #ccc;*/
/*}*/

/*.board div:nth-child(10n+6),*/
/*.board div:nth-child(10n+7),*/
/*.board div:nth-child(10n+8),*/
/*.board div:nth-child(10n+9),*/
/*.board div:nth-child(10n+10) {*/
/*    background-color: #fff;*/
/*}*/
